/.metadata/*
.o
.exe
.cproject
.ini
.metadata
.metadata/*
.project
.gitignore~
Debug/
/TestGameEnginev13/GameEngine2/build/
/TestGameEnginev13/GameEngine2/dist/
/TestGameEnginev13/GameEngine2/nbproject/
/TestGameEnginev13/GameEngine2/.dep.inc
/TestGameEnginev13/GameEngine2/baseUnitBuildings.h
